@model WebPageUI.Areas.Admin.Models.LoginViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Giriş Yap";
}

<div class="panel card-sign">
    <div class="card-title-sign mt-3 text-end">
        <h2 class="title text-uppercase font-weight-bold m-0">
            <i class="bx bx-user-circle me-1 text-6 position-relative top-5"></i> Giriş Yap
        </h2>
    </div>
    <div class="card-body">
        <form asp-action="Login" asp-controller="Account" asp-area="Admin" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <div class="input-group">
                    <input asp-for="Email" class="form-control form-control-lg" />
                    <span class="input-group-text">
                        <i class="bx bx-user text-4"></i>
                    </span>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Password" class="form-label">Şifre</label>
                <div class="input-group">
                    <input asp-for="Password" class="form-control form-control-lg" />
                    <span class="input-group-text">
                        <i class="bx bx-lock text-4"></i>
                    </span>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-sm-8">
                    <div class="checkbox-custom checkbox-default">
                        <input asp-for="RememberMe" id="RememberMe" />
                        <label asp-for="RememberMe">Beni Hatırla</label>
                    </div>
                </div>
                <div class="col-sm-4 text-end">
                    <button type="submit" class="btn btn-primary mt-2">Giriş Yap</button>
                </div>
            </div>
            <div class="text-center mt-3">
                <a asp-action="ForgotPassword" asp-controller="Account" asp-area="Admin">Şifremi Unuttum</a> |
                <a asp-action="Register" asp-controller="Account" asp-area="Admin">Kayıt Ol</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
