@{
    ViewData["Title"] = "Profilim";
    Layout = "~/Views/Shared/_Layout.cshtml";  // Projende layout varsa bunu kullan, yoksa silebilirsin
}

<div class="container mt-4">
    <h2 style="color:black;">Profilim</h2>

    <p style="color:black;">Merhaba, burası senin profil sayfan.</p>

    <a href="/Account/Logout" class="btn btn-link" style="color:black; text-decoration:none;">
        Çıkış Yap
    </a>
</div>
