@model WebPageUI.Areas.Admin.Models.LoginViewModel

@{
    ViewData["Title"] = "ERU Dergi - Home Page";
}

<!-- Login Modal --><div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="close-btn">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="identityBox">
                    <div class="form-wrapper">
                        <h1 id="loginModalLabel">Welcome back!</h1>

                        <!-- ✅ Form buradan başlıyor -->
                        <form asp-action="Login" asp-controller="Account" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <input class="inputField" asp-for="Email" placeholder="Email Address" />
                            <span asp-validation-for="Email" class="text-danger"></span>

                            <input class="inputField" asp-for="Password" placeholder="Enter Password" type="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>

                            <div class="input-check remember-me">
                                <div class="checkbox-wrapper">
                                    <input asp-for="RememberMe" class="form-check-input" id="saveForNext" />
                                    <label for="saveForNext">Remember me</label>
                                </div>
                                <div class="text">
                                    <a asp-action="ForgotPassword" asp-controller="Account">Forgot Your password?</a>
                                </div>
                            </div>

                            <div class="loginBtn">
                                <button type="submit" class="theme-btn rounded-0">Log in</button>
                            </div>
                        </form>
                        <!-- ✅ Form burada bitiyor -->
                    </div>

                    <div class="banner">
                        <button type="button" class="rounded-0 login-btn" data-bs-toggle="modal" data-bs-target="#loginModal">
                            Log in
                        </button>
                        <button type="button" class="theme-btn rounded-0 register-btn" data-bs-toggle="modal" data-bs-target="#registrationModal">
                            Create Account
                        </button>
                        <div class="loginBg">
                            <img src="~/WebUI-Content/web-images/signUpbg.jpg" alt="signUpBg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Registration Modal -->
<div class="modal fade" id="registrationModal" tabindex="-1" aria-labelledby="registrationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="close-btn">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="identityBox">
                    <div class="form-wrapper">
                        <h1 id="registrationModalLabel">Create account!</h1>
                        <input class="inputField" type="text" name="name" id="name" placeholder="User Name">
                        <input class="inputField" type="email" name="email" placeholder="Email Address">
                        <input class="inputField" type="password" name="password" placeholder="Enter Password">
                        <input class="inputField" type="password" name="password"
                               placeholder="Enter Confirm Password">
                        <div class="input-check remember-me">
                            <div class="checkbox-wrapper">
                                <input type="checkbox" class="form-check-input" name="save-for-next"
                                       id="rememberMe">
                                <label for="rememberMe">Remember me</label>
                            </div>
                            <div class="text"> <a href="index-2.html">Forgot Your password?</a> </div>
                        </div>
                        <div class="loginBtn">
                            <a href="index-2.html" class="theme-btn rounded-0"> Log in </a>
                        </div>
                        <div class="orting-badge">
                            Or
                        </div>
                        <div>
                            <a class="another-option" href="https://www.google.com/">
                                <img src="~/WebUI-Content/web-images/google.png" alt="google">
                                Continue With Google
                            </a>
                        </div>
                        <div>
                            <a class="another-option another-option-two" href="https://www.facebook.com/">
                                <img src="~/WebUI-Content/web-images/facebook.png" alt="google">
                                Continue With Facebook
                            </a>
                        </div>
                        <div class="form-check-3 d-flex align-items-center from-customradio-2 mt-3">
                            <input class="form-check-input" type="radio" name="flexRadioDefault">
                            <label class="form-check-label">
                                I Accept Your Terms & Conditions
                            </label>
                        </div>
                    </div>

                    <div class="banner">
                        <button type="button" class="rounded-0 login-btn" data-bs-toggle="modal"
                                data-bs-target="#loginModal">
                            Log in
                        </button>
                        <button type="button" class="theme-btn rounded-0 register-btn" data-bs-toggle="modal"
                                data-bs-target="#registrationModal">
                            Create
                            Account
                        </button>
                        <div class="signUpBg">
                            <img src="~/WebUI-Content/web-images/registrationbg.jpg" alt="signUpBg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="_MagazinesPartial" />

@* 
<!-- Hero Section start  -->
<div class="hero-section hero-1 fix">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-8 col-lg-6">
                <div class="hero-items">
                    <div class="book-shape">
                        <img src="~/WebUI-Content/web-images/hero/book.png" alt="shape-img">
                    </div>
                    <div class="frame-shape1 float-bob-x">
                        <img src="~/WebUI-Content/web-images/hero/frame.png" alt="shape-img">
                    </div>
                    <div class="frame-shape2 float-bob-y">
                        <img src="~/WebUI-Content/web-images/hero/frame-2.png" alt="shape-img">
                    </div>
                    <div class="frame-shape3">
                        <img src="~/WebUI-Content/web-images/hero/xstar.png" alt="img">
                    </div>
                    <div class="frame-shape4 float-bob-x">
                        <img src="~/WebUI-Content/web-images/hero/frame-shape.png" alt="img">
                    </div>
                    <div class="bg-shape1">
                        <img src="~/WebUI-Content/web-images/hero/bg-shape.png" alt="img">
                    </div>
                    <div class="bg-shape2">
                        <img src="~/WebUI-Content/web-images/hero/bg-shape2.png" alt="shape-img">
                    </div>
                    <div class="hero-content">
                        <h6 class="wow fadeInUp" data-wow-delay=".3s">Up to 30% Off</h6>
                        <h1 class="wow fadeInUp" data-wow-delay=".5s">
                            Get Your New Book <br> With The Best Price
                        </h1>
                        <div class="form-clt wow fadeInUp" data-wow-delay=".9s">
                            <button type="submit" class="theme-btn">
                                Shop Now <i class="fa-solid fa-arrow-right-long"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12 col-xl-4 col-lg-6">
              
            </div>
        </div>
    </div>
</div>
 *@


 
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}





@* <!-- Team Section start  -->
<section class="team-section fix section-padding pt-0 margin-bottom-30">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="mb-3 wow fadeInUp" data-wow-delay=".3s">Featured Author</h2>
            <p class="wow fadeInUp" data-wow-delay=".5s">
                Interdum et malesuada fames ac ante ipsum primis in
                faucibus. <br> Donec at nulla nulla. Duis posuere ex lacus
            </p>
        </div>
        <div class="array-button">
            <button class="array-prev"><i class="fal fa-arrow-left"></i></button>
            <button class="array-next"><i class="fal fa-arrow-right"></i></button>
        </div>
        <div class="swiper team-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="team-box-items">
                        <div class="team-image">
                            <div class="thumb">
                                <img src="~/WebUI-Content/web-images/team/01.jpg" alt="img">
                            </div>
                            <div class="shape-img">
                                <img src="~/WebUI-Content/web-images/team/shape-img.png" alt="img">
                            </div>
                        </div>
                        <div class="team-content text-center">
                            <h6><a href="team-details.html">Esther Howard</a></h6>
                            <p>10 Published Books</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="team-box-items">
                        <div class="team-image">
                            <div class="thumb">
                                <img src="~/WebUI-Content/web-images/team/02.jpg" alt="img">
                            </div>
                            <div class="shape-img">
                                <img src="~/WebUI-Content/web-images/team/shape-img.png" alt="img">
                            </div>
                        </div>
                        <div class="team-content text-center">
                            <h6><a href="team-details.html">Shikhon Islam</a></h6>
                            <p>07 Published Books</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="team-box-items">
                        <div class="team-image">
                            <div class="thumb">
                                <img src="~/WebUI-Content/web-images/team/03.jpg" alt="img">
                            </div>
                            <div class="shape-img">
                                <img src="~/WebUI-Content/web-images/team/shape-img.png" alt="img">
                            </div>
                        </div>
                        <div class="team-content text-center">
                            <h6><a href="team-details.html">Kawser Ahmed</a></h6>
                            <p>04 Published Books</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="team-box-items">
                        <div class="team-image">
                            <div class="thumb">
                                <img src="~/WebUI-Content/web-images/team/04.jpg" alt="img">
                            </div>
                            <div class="shape-img">
                                <img src="~/WebUI-Content/web-images/team/shape-img.png" alt="img">
                            </div>
                        </div>
                        <div class="team-content text-center">
                            <h6><a href="team-details.html">Brooklyn Simmons</a></h6>
                            <p>15 Published Books</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="team-box-items">
                        <div class="team-image">
                            <div class="thumb">
                                <img src="~/WebUI-Content/web-images/team/05.jpg" alt="img">
                            </div>
                            <div class="shape-img">
                                <img src="~/WebUI-Content/web-images/team/shape-img.png" alt="img">
                            </div>
                        </div>
                        <div class="team-content text-center">
                            <h6><a href="team-details.html">Leslie Alexander</a></h6>
                            <p>05 Published Books</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="team-box-items">
                        <div class="team-image">
                            <div class="thumb">
                                <img src="~/WebUI-Content/web-images/team/06.jpg" alt="img">
                            </div>
                            <div class="shape-img">
                                <img src="~/WebUI-Content/web-images/team/shape-img.png" alt="img">
                            </div>
                        </div>
                        <div class="team-content text-center">
                            <h6><a href="team-details.html">Guy Hawkins</a></h6>
                            <p>12 Published Books</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 *@
