<footer class="footer-section footer-bg">
    <div class="container">
        <div class="contact-info-area">
            <div class="widget-head">
                <a href="index.html">
                    <img src="~/WebUI-Content/web-images/logo/logo.png" alt="logo-img">
                </a>
            </div>
            <div class="contact-info-items wow fadeInUp" data-wow-delay=".2s">
                <div class="icon">
                    <i class="icon-icon-5"></i>
                </div>
                <div class="content">
                    <p></p>
                    <h3>
                        <a href="tel:+902223344556">+90 222 334 45 56</a>
                    </h3>
                </div>
            </div>
            <div class="contact-info-items wow fadeInUp" data-wow-delay=".4s">
                <div class="icon">
                    <i class="icon-icon-6"></i>
                </div>
                <div class="content">
                    <p></p>
                    <h3>
                        <a href="mailto:info@eru.edu.tr">info@eru.edu.tr</a>
                    </h3>
                </div>
            </div>
            @* <div class="contact-info-items wow fadeInUp" data-wow-delay=".6s">
                <div class="icon">
                    <i class="icon-icon-7"></i>
                </div>
                <div class="content">
                    <p>Çalışma Saatleri</p>
                    <h3>
                        Pazartesi - Cuma: 09:00 - 18:00
                    </h3>
                </div>
            </div> *@
            <div class="contact-info-items wow fadeInUp" data-wow-delay=".8s">
                <div class="icon">
                    <i class="icon-icon-8"></i>
                </div>
                <div class="content">
                    <p></p>
                    <h3>
                        Erciyes Üniversitesi, Talas Yolu, 38039 Kayseri
                    </h3>
                </div>
            </div>
        </div>

    </div>
    <div class="footer-widgets-wrapper">
        <div class="plane-shape float-bob-y">
            <img src="~/WebUI-Content/web-images/plane-shape.png" alt="img">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                    <div class="single-footer-widget">
                        
                        @* <div class="footer-content">
                            <p>
                                Phasellus ultricies aliquam volutpat ullamcorper laoreet neque, a lacinia curabitur
                                lacinia mollis
                            </p>
                            <div class="social-icon d-flex align-items-center">
                                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://x.com/"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                                <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div> *@
                    </div>
                </div>
               @*  <div class="col-xl-3 col-lg-4 col-md-6 ps-lg-5 wow fadeInUp" data-wow-delay=".4s">
                    <div class="single-footer-widget">
                        <div class="widget-head">
                            <h3>Costumers Support</h3>
                        </div>
                        <ul class="list-area">
                            <li>
                                <a href="shop.html">
                                    <i class="fa-solid fa-chevrons-right"></i>
                                    Store List
                                </a>
                            </li>
                            <li>
                                <a href="contact.html">
                                    <i class="fa-solid fa-chevrons-right"></i>
                                    Opening Hours
                                </a>
                            </li>
                            <li>
                                <a href="contact.html">
                                    <i class="fa-solid fa-chevrons-right"></i>
                                    Contact Us
                                </a>
                            </li>
                            <li>
                                <a href="contact.html">
                                    <i class="fa-solid fa-chevrons-right"></i>
                                    Return Policy
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 ps-lg-5 wow fadeInUp" data-wow-delay=".6s">
                    <div class="single-footer-widget">
                        <div class="widget-head">
                            <h3>Categories</h3>
                        </div>
                        <ul class="list-area">
                            <li>
                                <a href="shop.html">
                                    <i class="fa-solid fa-chevrons-right"></i>
                                    Novel Books
                                </a>
                            </li>
                            <li>
                                <a href="shop.html">
                                    <i class="fa-solid fa-chevrons-right"></i>
                                    Poetry Books
                                </a>
                            </li>
                            <li>
                                <a href="contact.html">
                                    <i class="fa-solid fa-chevrons-right"></i>
                                    Political Books
                                </a>
                            </li>
                            <li>
                                <a href="contact.html">
                                    <i class="fa-solid fa-chevrons-right"></i>
                                    History Books
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                    <div class="single-footer-widget">
                        <div class="widget-head">
                            <h3>Newsletter</h3>
                        </div>
                        <div class="footer-content">
                            <p>Sign up to searing weekly newsletter to get the latest updates.</p>
                            <div class="footer-input">
                                <input type="email" id="email2" placeholder="Enter Email Address">
                                <button class="newsletter-btn" type="submit">
                                    <i class="fa-regular fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    </div *@>
               @*  </div> *@
            </div>
        </div>
    </div>
   @*  <div class="footer-bottom">
        <div class="container">
            <div class="footer-wrapper d-flex align-items-center justify-content-between">
                <p class="wow fadeInLeft" data-wow-delay=".3s">
                    © All Copyright 2024 by <a href="index.html">Bookle</a>
                </p>
                <ul class="brand-logo wow fadeInRight" data-wow-delay=".5s">
                    <li>
                        <a href="contact.html">
                            <img src="~/WebUI-Content/web-images/visa-logo.png" alt="img">
                        </a>
                    </li>
                    <li>
                        <a href="contact.html">
                            <img src="~/WebUI-Content/web-images/mastercard.png" alt="img">
                        </a>
                    </li>
                    <li>
                        <a href="contact.html">
                            <img src="~/WebUI-Content/web-images/payoneer.png" alt="img">
                        </a>
                    </li>
                    <li>
                        <a href="contact.html">
                            <img src="~/WebUI-Content/web-images/affirm.png" alt="img">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div> *@
</footer>