@using Microsoft.AspNetCore.Identity
@using EDergi.Domain.Entitites
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<div class="header-top-1">
    <div class="container">
        <div class="header-top-wrapper">
            <ul class="contact-list">
                <!-- başka içerikler varsa burada kalabilir -->
            </ul>
            <ul class="list">
                <li>
                    <i class="fa-light fa-user"></i>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        var currentUser = await UserManager.GetUserAsync(User);
                        <div class="dropdown d-inline">
                            <a class="dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                👤 @currentUser.FirstName
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="userDropdown">
                                <li>
                                    <a class="dropdown-item" asp-action="Profile" asp-controller="Account" style="color:black;">
                                        <i class="bx bx-user-circle"></i> Profilim
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider" /></li>
                                <li>
                                    <form asp-action="Logout" asp-controller="Account" method="post" class="d-inline">
                                        <button type="submit" class="dropdown-item" style="color:black;">
                                            <i class="bx bx-power-off"></i> Çıkış Yap
                                        </button>
                                    </form>
                                </li>

                            </ul>
                        </div>
                    }
                    else
                    {
                        <button data-bs-toggle="modal" data-bs-target="#loginModal" class="btn btn-link p-0">
                            Login
                        </button>
                    }
                </li>
            </ul>
        </div>
    </div>
</div>


<!-- Sticky Header Section start  -->
<header class="header-1 sticky-header">
    <div class="mega-menu-wrapper">
        <div class="header-main">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-6 col-lg-10 col-xl-8 col-xxl-10">
                        <div class="header-left">
                            <div class="logo">
                                <a href="index.html" class="header-logo">
                                    <img src="~/WebUI-Content/web-images/logo/logo.png" alt="logo-img >
                                </a>
                            </div>
                            <div class="mean__menu-wrapper">
                                <div class="main-menu">
                                    <nav id="mobile-menu">
                                        <ul>
                                            <li>
                                                <a href="Home/Index.cshtml">Home</a>
                                            </li>
                                            <li>
                                                <a href="Hakkında.html">
                                                    Hakkında
                                                    <i class="fas fa-angle-down"></i>
                                                </a>
                                                <ul class="submenu">
                                                    <li><a href="hakkında.html">Hakkında</a></li>
                                                    <li><a href="trendler.html">Trendler</a></li>
                                                    <li><a href="konular.html">Konular</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="dergiler.html">Dergiler</a>
                                            </li>
                                           
                                            <li>
                                                <a href="araştırmacılar.html">Araştırmacılar</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-6 col-lg-2 col-xl-4 col-xxl-2">
                        <div class="header-right">
                            <div class="category-oneadjust gap-6 d-flex align-items-center">
                                <div class="icon">
                                    <i class="fa-sharp fa-solid fa-grid-2"></i>
                                </div>
                                <select name="cate" class="category">
                                    <option value="1">
                                        Category
                                    </option>
                                    <option value="1">
                                        Web Design
                                    </option>
                                    <option value="1">
                                        Web Development
                                    </option>
                                    <option value="1">
                                        Graphic Design
                                    </option>
                                    <option value="1">
                                        Softwer Eng
                                    </option>
                                </select>
                                <form action="#" class="search-toggle-box d-md-block">
                                    <div class="input-area">
                                        <input type="text" placeholder="Author">
                                        <button class="cmn-btn">
                                            <i class="far fa-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="menu-cart">
                               
                                <div class="header-humbager ml-30">
                                    <a class="sidebar__toggle" href="javascript:void(0)">
                                        <div class="bar-icon-2">
                                            <img src="~/WebUI-Content/web-images/icon/icon-13.svg" alt="img">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</header>

<!-- Main Header Section start  -->
<header class="header-1">
    <div class="mega-menu-wrapper">
        <div class="header-main">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-6 col-lg-10 col-xl-8 col-xxl-10">
                        <div class="header-left">
                            <div class="logo">
                                <a href="index.html" class="header-logo">
                                    <img src="~/WebUI-Content/web-images/logo/logo.png" alt="logo-img">
                                </a>
                            </div>
                            <div class="mean__menu-wrapper">
                                <div class="main-menu">
                                    <nav id="mobile-menu">
                                        <ul>
                                            <li>
                                                <a href="Home/Index.cshtml">Home</a>
                                            </li>
                                            <li>
                                                <a href="Hakkında.html">
                                                    Hakkında
                                                    <i class="fas fa-angle-down"></i>
                                                </a>
                                                <ul class="submenu">
                                                    <li><a href="hakkında.html">Hakkında</a></li>
                                                    <li><a href="trendler.html">Trendler</a></li>
                                                    <li><a href="konular.html">Konular</a></li>
                                                </ul>
                                            </li> 
                                                <a href="dergiler.html">Dergiler</a>
                                            </li>
                                            <li>

                                            </li>
                                            <li>
                                                <a href="araştırmacılar.html">Araştırmacılar</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-6 col-lg-2 col-xl-4 col-xxl-2">
                        <div class="header-right">
                            <div class="category-oneadjust gap-6 d-flex align-items-center">
                                <div class="icon">
                                    <i class="fa-sharp fa-solid fa-grid-2"></i>
                                </div>
                                <select name="cate" class="category">
                                    <option value="1">
                                        Category
                                    </option>
                                    <option value="1">
                                        Web Design
                                    </option>
                                    <option value="1">
                                        Web Development
                                    </option>
                                    <option value="1">
                                        Graphic Design
                                    </option>
                                    <option value="1">
                                        Softwer Eng
                                    </option>
                                </select>
                                <form action="#" class="search-toggle-box d-md-block">
                                    <div class="input-area">
                                        <input type="text" placeholder="Author">
                                        <button class="cmn-btn">
                                            <i class="far fa-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="menu-cart">
                              
                                
                                <div class="header-humbager ml-30">
                                    <a class="sidebar__toggle" href="javascript:void(0)">
                                        <div class="bar-icon-2">
                                            <img src="~/WebUI-Content/web-images/icon/icon-13.svg" alt="img">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</header>