@{
    var isLoginPage = Context.Request.Path.Value.ToLower().Contains("/account/login");
}
<!DOCTYPE html>
<html lang="en">
<!--<< Header Area >>-->
<!-- Mirrored from gramentheme.com/html/bookle/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 15 Aug 2025 06:34:58 GMT -->
<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - WebPageUI</title>
    <meta name="keywords" content="Erciyes Üniversitesi Dergi Yönetimi,Erciyes Üniversitesi Akademik Dergiler,Erciyes Üniversitesi Yayın Sistemi,Erciyes Üniversitesi Dergi Portalı,Erciyes Üniversitesi Makale Gönderme,
       Erciyes Üniversitesi Dergi Takip Sistemi, Akademik Dergi Yönetimi,Makale Gönderim Sistemi,Akademik Yayın Süreci,Dergi Yayın Takvimi,Akademik Yayın Platformu,Dergi Yönetim Sistemi,Online Dergi Yönetimi,Makale Yayınlama Platformu,Üniversite Yayın Platformu,Makale Gönderim ve Yayınlama">
    <meta name="author" content="gramentheme">
    <meta name="description" content="BErciyes Üniversitesi  - E-Dergi sistemi ">

    <!--<< Favcion >>-->
    <link rel="shortcut icon" href="~/WebUI-Content/web-images/favicon.png">
    <!--<< Bootstrap min.css >>-->
    <link rel="stylesheet" href="~/WebUI-Content/css/bootstrap.min.css">
   n
    <!--<< All Min Css >>-->
    <link rel="stylesheet" href="~/WebUI-Content/css/all.min.css">
    <!--<< Animate.css >>-->
    <link rel="stylesheet" href="~/WebUI-Content/css/animate.css">
    <!--<< Magnific Popup.css >>-->
    <link rel="stylesheet" href="~/WebUI-Content/css/magnific-popup.css">
    <!--<< MeanMenu.css >>-->
    <link rel="stylesheet" href="~/WebUI-Content/css/meanmenu.css">
    <!--<< Swiper Bundle.css >>-->
    <link rel="stylesheet" href="~/WebUI-Content/css/swiper-bundle.min.css">
    <!--<< Nice Select.css >>-->
    <link rel="stylesheet" href="~/WebUI-Content/css/nice-select.css">
    <!--<< Icomoon.css >>-->
    <link rel="stylesheet" href="~/WebUI-Content/css/icomoon.css">
    <!--<< Main.css >>-->
    <link rel="stylesheet" href="~/WebUI-Content/css/main.css">
</head>

<body>
    <!-- Cursor follower -->
    <div class="cursor-follower"></div>

    <!-- Preloader start -->
    <div id="preloader" class="preloader">
        <div class="animation-preloader">
            <div class="spinner">
            </div>
            <div class="txt-loading">
            </div>
            <p class="text-center">Loading</p>
        </div>
        <div class="loader">
            <div class="row">
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Back To Top start -->
    <button id="back-top" class="back-to-top">
        <i class="fa-solid fa-chevron-up"></i>
    </button>

    <!-- Offcanvas Area start  -->
    <div class="fix-area">
        <div class="offcanvas__info">
            <div class="offcanvas__wrapper">
                <div class="offcanvas__content">
                    <div class="offcanvas__top mb-5 d-flex justify-content-between align-items-center">
                        <div class="offcanvas__logo">
                            <a href="index.html">
                                <img src="~/WebUI-Content/web-images/logo/logo.png" alt="logo-img">
                            </a>
                        </div>
                        <div class="offcanvas__close">
                            <button>
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <p class="text d-none d-xl-block">
                        Erciyes Üniversitesi, 1978 yılında Kayseri'de kurulmuş olup, bilim, teknoloji ve sanat alanlarında öncü bir kurumdur.
                        Geniş kampüsü ve modern imkanlarıyla öğrencilerine kaliteli bir eğitim sunmaktadır.
                    </p>
                    <div class="mobile-menu fix mb-3"></div>
                    <div class="offcanvas__contact">
                        <h4>İletişim Bilgileri</h4>
                        <ul>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon">
                                    <i class="fal fa-map-marker-alt"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a target="_blank" href="index.html">Talas Yolu, 38039 Kayseri, Türkiye</a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="fal fa-envelope"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a href="mailto:info@erciyes.edu.tr">
                                        <span class="mailto:info@erciyes.edu.tr">info@erciyes.edu.tr</span>
                                    </a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="fal fa-clock"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a target="_blank" href="index.html">Pzt-Cuma, 08:30 - 17:30</a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="far fa-phone"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a href="tel:+903522074444">+90 352 207 44 44</a>
                                </div>
                            </li>
                        </ul>
                       
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="offcanvas__overlay"></div>

    <partial name="_Header" />

    @RenderBody()

    <!-- Footer Section start  -->
    <partial name="_Footer"/>
   
    <!--<< All JS Plugins >>-->
    <script src="~/WebUI-Content/js/jquery-3.7.1.min.js"></script>
    <!--<< Viewport Js >>-->
    <script src="~/WebUI-Content/js/viewport.jquery.js"></script>
    <!--<< Bootstrap Js >>-->
    <script src="~/WebUI-Content/js/bootstrap.bundle.min.js"></script>
    <!--<< Nice Select Js >>-->
    <script src="~/WebUI-Content/js/jquery.nice-select.min.js"></script>
    <!--<< Waypoints Js >>-->
    <script src="~/WebUI-Content/js/jquery.waypoints.js"></script>
    <!--<< Counterup Js >>-->
    <script src="~/WebUI-Content/js/jquery.counterup.min.js"></script>
    <!--<< Swiper Slider Js >>-->
    <script src="~/WebUI-Content/js/swiper-bundle.min.js"></script>
    <!--<< MeanMenu Js >>-->
    <script src="~/WebUI-Content/js/jquery.meanmenu.min.js"></script>
    <!--<< Magnific Popup Js >>-->
    <script src="~/WebUI-Content/js/jquery.magnific-popup.min.js"></script>
    <!--<< Wow Animation Js >>-->
    <script src="~/WebUI-Content/js/wow.min.js"></script>
    <!-- Gsap -->
    <script src="~/WebUI-Content/js/gsap.min.js"></script>
    <!--<< Main.js >>-->
    <script src="~/WebUI-Content/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>


<!-- Mirrored from gramentheme.com/html/bookle/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 15 Aug 2025 06:35:30 GMT -->
</html>















@* 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebPageUI</title>
    <link rel="stylesheet" href="~/WebUI-Content/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/WebUI-Content/css/site.css" asp-append-version="true" />
</head>
<body>
    @if (!isLoginPage)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebPageUI</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @if (!isLoginPage)
    {
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2025 - WebPageUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    }

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/WebUI-Content/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/WebUI-Content/js/site.js" asp-append-version="true"></script>

    
</body>
</html>
 *@